<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongrant.www.achieve.mapper.SysConfigMapper">

	<sql id="fields">
		parameterId, paramName, paramValue
	</sql>

	<select id="loadAllConfig" resultType="com.hongrant.www.achieve.pojo.SysConfigVO">
		SELECT <include refid="fields" /> FROM system_params
	</select>
</mapper>